<div id="share-bar" style="">
  <div class="share-button facebook" id="fb-like">
    <fb:like "data-href"={{production_uri_no_encode}} "data-send"="true" "data-layout"="box_count""data-width"="55" "data-show-faces"="false" "data-font"="arial" "ref"="tl-vert">
    </fb:like>
  </div>
  <div class="share-button twitter">
  </div>
  <div class="share-button gplus">
  </div>
  <div class="share-button pinit">
  </div>
  <div class="share-button email mini">
  <a href="mailto:?subject=;body=" id="email-button">
  <img src="/images/mail_icon.jpg" alt="">
  </a>
  </div>
  <div class="share-button mini print">
  <a alt="" href="javascript:window.print()" id="print">
  <img src="/images/print_icon.jpg">
  </a>
  </div>
</div>